<nz-layout appWeiHammer action="swiperight" [option]="this.hammerOption" (hammer)="this.onHammer($event)" class="layout">
  <nz-sider [(nzCollapsed)]="this.collapsed" nzTheme="light" nzBreakpoint="sm" [nzWidth]="this.sidebarWidth" [nzCollapsedWidth]="0" [nzTrigger]="null" (nzCollapsedChange)="this.collapsedChange()">
    <app-logo></app-logo>
    <nz-divider></nz-divider>
    <div class="sidebar">
      <app-side-bar></app-side-bar>
    </div>
  </nz-sider>
  <nz-drawer nzMask="loading" nzWrapClassName="drawer_class" [nzCloseOnNavigation]="true" [nzClosable]="false" [nzVisible]="this.isSideBarVisible()" [nzPlacement]="'left'" [nzWidth]="this.sidebarWidth" (nzOnClose)="closeSideBar()">
    <ng-container *nzDrawerContent nzDrawer>
      <!-- Intercept event -->
      <div appWeiHammer action="swipeleft" [option]="this.hammerOption" (hammer)="this.onHammer($event)" class="full_screen" (click)="this.closeSideBar()"></div>
      <div>
        <app-logo (routeEvent)="this.closeSideBar()"></app-logo>
        <nz-divider></nz-divider>
        <div class="sidebar">
          <app-side-bar (routeEvent)="this.closeSideBar()"></app-side-bar>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
  <nz-layout class="main">
    <ng-container *ngIf="this.collapsed">
      <nz-affix [nzOffsetTop]="0" style="position: absolute; top: 72px; left: 8px;z-index: 1;">
        <div style="min-width: 48px; min-height: 48px">
          <button nz-button [nzBlock]="true" [nzLoading]="false" nzSize="large" (click)="this.openSideBar()" class="sidebar_button">
            <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          </button>
        </div>
      </nz-affix>
    </ng-container>
    <div class="container">
      <nz-header>
        <nz-breadcrumb [nzAutoGenerate]="true" [nzRouteLabel]="'customBreadcrumb'">
          >
        </nz-breadcrumb>
      </nz-header>
      <nz-content>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="22" [nzOffset]="1">
            <div class="scrollable">
              <div class="inner-content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By WeiCraft</nz-footer>
    </div>
  </nz-layout>
</nz-layout>
