.layout {
  min-height: 100vh;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.main {
  overflow-y: scroll;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  padding-left: 16px;
  background: #fff;
}

nz-breadcrumb {
  height: 100%;
  font-size: 28px;
  display: inline-block;
  height: auto;
  vertical-align: sub;
}

nz-content {
  /* margin: 40px 32px 0; */
  margin: 40px 0px 0;
}

nz-footer {
  text-align: center;
}

.sidebar {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}


/* nz-drawer {

  position: fixed;
}*/
