.index {
  // background-image: url('assets/chicken/chicken0.png');
}

.carousel-container {
  height: 320px;
}

[nz-carousel-content] {
  background: #364d79;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
}
